/*!
 * Project: CloudBroadcast
 * File: Main styles
 */
@import "variables";
/*====================================================================================*/
/* FOOTER
/*====================================================================================*/
.footer {
  padding: 20px 0;
  font-family: $font-myriad;
  color: $color-gray;
  background: $color-darkest;
  font-size: 13px;
  cursor: default;

  @media screen and (min-width: $breakpoint-sm) {
    padding: 35px 0;
  }

  a {
    color: $color-gray;
    &:hover { color: $color-white; }
  }

  .heading {
    margin-bottom: 5px;
    font-size: inherit;
    line-height: inherit;
    color: $color-light;

    @media screen and (min-width: $breakpoint-sm) {
      font-size: 16px;
    }
  }

  .list {
    padding: 0;
    margin: 0 0 20px;
    list-style: none;
    > li { padding: 5px 0; }

    @media screen and (min-width: $breakpoint-sm) {
      margin-bottom: 0;
      font-size: 14px;
      line-height: 20px;
    }
  }

  .copyright {
    padding-top: 20px;
    border-top: 1px solid $color-dark;
    margin: 20px 0 0;
    text-align: center;

    @media screen and (min-width: $breakpoint-sm) {
      padding-top: 30px;
      margin-top: 30px;
      text-align: right;
    }
  }
}