/*!
 * Project: CloudBroadcast
 * File: Main styles
 */
@import "variables";
/*====================================================================================*/
/* FOOTER
/*====================================================================================*/
.footer {
  padding: 20px 0;
  font: 12px $font-montserrat;
  color: $color-gray;
  background: $color-darkest;
  cursor: default;
  text-align: center;

  @media screen and (min-width: $breakpoint-xxs) and (max-width: $breakpoint-sm) {
    text-align: left;
    .col {
      width: 50%;
      float: left;
      &:nth-child(2n-1) { clear: left; }
    }
    .wide {
      clear: both;
    }
  }
  @media screen and (min-width: $breakpoint-sm) {
    padding: 40px 0;
    text-align: left;
  }

  a {
    color: $color-gray;
    &:hover { color: $color-white; }
  }

  .nav {
    &:after { @include clearfix; }
  }

  .heading {
    margin-bottom: 5px;
    font-size: 13px;
    line-height: inherit;
    font-weight: normal;
    color: $color-light;

    @media screen and (min-width: $breakpoint-sm) {
      margin-bottom: 8px;
      font-size: 14px;
    }
  }

  .list {
    padding: 0;
    margin: 0 0 20px;
    list-style: none;
    > li { padding: 5px 0; }

    @media screen and (min-width: $breakpoint-sm) {
      margin-bottom: 0;
      line-height: 20px;
    }
  }

  .copyright {
    padding-top: 20px;
    border-top: 1px solid $color-dark;
    margin: 20px 0 0;
    font-size: 11px;
    text-align: center;

    @media screen and (min-width: $breakpoint-sm) {
      padding-top: 23px;
      margin-top: 34px;
      text-align: right;
    }
  }
}
/*====================================================================================*/
/* FEATURES
/*====================================================================================*/
.features {
  padding: 30px 0;
  border-bottom: 1px solid $color-gray-light;
  font-size: 14px;
  line-height: 1.25em;
  text-align: center;
  color: $color-mid;
  background: $color-light;

  @media screen and (min-width: $breakpoint-sm) {
    padding: 45px 0;
    font-size: 16px;
    line-height: 1.5em;
  }

  .col {
    margin: 0 auto 30px;
    max-width: 350px;
    &:last-child { margin-bottom: 0; }

    @media screen and (min-width: $breakpoint-sm) {
      margin: 0;
      max-width: none;
    }
  }

  .glyphicon {
    margin-bottom: 10px;
    display: block;
    font-size: 40px;
    line-height: 40px;
    color: $color-gray-lighter;

    @media screen and (min-width: $breakpoint-sm) {
      margin-bottom: 28px;
      font-size: 80px;
      line-height: 80px;
      &-calendar { font-size: 70px; }
    }
  }

  .heading {
    margin: 0 0 5px;
    font-size: 15px;
    line-height: inherit;
    font-weight: bold;

    @media screen and (min-width: $breakpoint-sm) {
      margin-bottom: 10px;
      font-size: inherit;
    }
  }

  p { margin: 0; }
}
/*====================================================================================*/
/* WHY
/*====================================================================================*/
.why {
  border-bottom: 1px dashed $color-gray-lighter;
  font-size: 15px;
  line-height: 1.25em;

  @media screen and (min-width: $breakpoint-sm) {
    font-size: 16px;
    line-height: 1.5em;
  }

  > .container {
    padding-top: 35px;
    padding-bottom: 25px;
    position: relative;

    @media screen and (min-width: $breakpoint-sm) {
      padding-top: 45px;
    }
  }

  .col {
    position: static;
  }

  .heading {
    margin-bottom: 20px;

    @media screen and (max-width: $breakpoint-sm) {
      font-size: 20px;
      text-align: center;
    }
    @media screen and (min-width: $breakpoint-sm) {
      margin-bottom: 30px;
    }
  }

  .entry {
    max-width: 380px;
    padding: 15px 0 15px 55px;
    border-bottom: 1px dashed $color-gray-lighter;
    margin: 0 auto;
    position: relative;
    &:last-child { border: none; }

    @media screen and (min-width: $breakpoint-sm) {
      padding: 25px 0 25px 75px;
    }

    .icon {
      width: 35px;
      height: 35px;
      display: block;
      position: absolute;
      top: 20px;
      left: 5px;

      @media screen and (min-width: $breakpoint-sm) {
        width: 43px;
        height: 43px;
        top: 30px;
        left: 0;
      }
    }

    .title {
      display: inline;
      font: inherit;
      font-weight: bold;
      &:after {
        content: ':';
      }
    }

    p {
      margin: 0;
      display: inline;
    }
  }

  .picture {
    padding: 0 20px;
    margin-top: 30px;
    margin-bottom: -25px;
    display: block;
    overflow: hidden;

    @media screen and (min-width: $breakpoint-sm) {
      margin: 0;
      position: absolute;
      bottom: 0;
    }

    img {
      display: block;

      @media screen and (max-width: $breakpoint-md) {
        width: 90%;
        max-width: 350px;
        height: auto;
        margin: 0 auto;
      }
      @media screen and (min-width: $breakpoint-md) {
        float: right;
      }
    }
  }
}
/*====================================================================================*/
/* HOW
/*====================================================================================*/
.how {
  padding: 40px 0 10px;
  font-size: 15px;
  line-height: 1.5em;

  @media screen and (min-width: $breakpoint-sm) {
    padding: 55px 0;
    font-size: 16px;
    line-height: 1.5em;
  }

  .heading {
    margin-bottom: 40px;
    text-align: center;
  }

  .cell {
    width: 90%;
    max-width: 400px;
    margin: 0 auto 20px;

    @media screen and (min-width: $breakpoint-sm) {
      width: auto;
      max-width: none;
      margin: 0;
    }
    @media screen and (min-width: $breakpoint-md) {
      padding: 0 15px;
    }

    .title {
      padding: 15px 20px;
      margin: 0 0 5px;
      display: block;
      color: $color-white;
      font-weight: bold;
      line-height: 20px;
      @include gradient-x (#5a28d4, #1a6dc3);
    }

    .area {
      padding: 20px;
      margin: 0;
      display: block;
      background: $color-light;

      @media screen and (min-width: $breakpoint-sm) {
        min-height: 136px;
      }
    }
  }
}