/*!
 * Project: CloudBroadcast
 * File: Main styles
 */
@import "variables";
/*====================================================================================*/
/* FOOTER
/*====================================================================================*/
.footer {
  padding: 20px 0;
  font: 12px $font-montserrat;
  color: $color-gray;
  background: $color-darkest;
  cursor: default;
  text-align: center;

  @media screen and (min-width: $breakpoint-xxs) and (max-width: $breakpoint-sm) {
    text-align: left;
    .col {
      width: 50%;
      float: left;
      &:nth-child(2n-1) { clear: left; }
    }
    .wide {
      clear: both;
    }
  }
  @media screen and (min-width: $breakpoint-sm) {
    padding: 40px 0;
    text-align: left;
  }

  a {
    color: $color-gray;
    &:hover { color: $color-white; }
  }

  .nav {
    &:after { @include clearfix; }
  }

  .heading {
    margin-bottom: 5px;
    font-size: 13px;
    line-height: inherit;
    font-weight: normal;
    color: $color-light;

    @media screen and (min-width: $breakpoint-sm) {
      margin-bottom: 8px;
      font-size: 14px;
    }
  }

  .list {
    padding: 0;
    margin: 0 0 20px;
    list-style: none;
    > li { padding: 5px 0; }

    @media screen and (min-width: $breakpoint-sm) {
      margin-bottom: 0;
      line-height: 20px;
    }
  }

  .copyright {
    padding-top: 20px;
    border-top: 1px solid $color-dark;
    margin: 20px 0 0;
    font-size: 11px;
    text-align: center;

    @media screen and (min-width: $breakpoint-sm) {
      padding-top: 23px;
      margin-top: 34px;
      text-align: right;
    }
  }
}
/*====================================================================================*/
/* FEATURES
/*====================================================================================*/
.features {
  padding: 30px 0;
  border-bottom: 1px solid $color-gray-light;
  font-size: 14px;
  line-height: 1.25em;
  text-align: center;
  color: $color-mid;
  background: $color-light;

  @media screen and (min-width: $breakpoint-sm) {
    padding: 45px 0;
    font-size: 16px;
    line-height: 1.5em;
  }

  .col {
    margin: 0 auto 30px;
    max-width: 350px;
    &:last-child { margin-bottom: 0; }

    @media screen and (min-width: $breakpoint-sm) {
      margin: 0;
      max-width: none;
    }
  }

  .glyphicon {
    margin-bottom: 10px;
    display: block;
    font-size: 40px;
    line-height: 40px;
    color: $color-gray-lighter;

    @media screen and (min-width: $breakpoint-sm) {
      margin-bottom: 28px;
      font-size: 80px;
      line-height: 80px;
      &-calendar { font-size: 70px; }
    }
  }

  .heading {
    margin: 0 0 5px;
    font-size: 15px;
    line-height: inherit;
    font-weight: bold;

    @media screen and (min-width: $breakpoint-sm) {
      margin-bottom: 10px;
      font-size: inherit;
    }
  }

  p { margin: 0; }
}